$phire-light-blue: (
  0: #000000,
  10: #001E30,
  20: #00344F,
  25: #003F5F,
  30: #004B70,
  35: #005881,
  40: #006493,
  50: #007EB8,
  60: #0099DE,
  70: #30B5FF,
  80: #8DCDFF,
  90: #CAE6FF,
  95: #E6F2FF,
  98: #F6F9FF,
  99: #FCFCFF,
  100: #ffffff,
  secondary: (0: #000000,
    10: #261A00,
    20: #3F2E00,
    25: #4D3800,
    30: #5B4300,
    35: #6A4E00,
    40: #785900,
    50: #977100,
    60: #B78A00,
    70: #D8A300,
    80: #FABD00,
    90: #FFDF9E,
    95: #FFEFD4,
    98: #FFF8F2,
    99: #FFFBFF,
    100: #ffffff,
  ),
  neutral: (0: #000000,
    10: #1a1b1f,
    20: #2f3033,
    25: #3b3b3f,
    30: #46464a,
    35: #525256,
    40: #5e5e62,
    50: #77777a,
    60: #919094,
    70: #ababaf,
    80: #c7c6ca,
    90: #e3e2e6,
    95: #f2f0f4,
    98: #faf9fd,
    99: #fdfbff,
    100: #ffffff,
    4: #0a0b0c,
    6: #101013,
    12: #1e1f23,
    17: #292a2d,
    22: #343438,
    24: #39393d,
    87: #dbdade,
    92: #e9e8ec,
    94: #efedf1,
    96: #f5f3f7,
  ),
  neutral-variant: (0: #000000,
    10: #181c22,
    20: #2d3038,
    25: #383b43,
    30: #44474e,
    35: #4f525a,
    40: #5b5e66,
    50: #74777f,
    60: #8e9099,
    70: #a9abb4,
    80: #c4c6d0,
    90: #e0e2ec,
    95: #eff0fa,
    98: #f9f9ff,
    99: #fdfbff,
    100: #ffffff,
  ),
  error: (0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);