// Inverse text color
//
// Markup: Will return the inverse color, usually the background with an alpha of .875 to match Material Design spec.
// .class {
// background: $background
// color: set-inverse-text-color($background)
// }
//
// Styleguide Coloring.set-inverse-text-color

@function set-inverse-text-color($inputColor) {
  @if (lightness($inputColor) > 57) {
    @return rgba(black, 0.875);
  }

  @else {
    @return rgba(white, 0.875);
  }
}

// Inverse color
//
// Markup: Similar to set-inverse-text-color, but just returns a full opacity color.
// .class {
// background: $background
// color: get-inverse-color($background)
// }
//
// Styleguide Coloring.get-inverse-color

@function get-inverse-color($color) {
  @if (lightness($color) > 50) {
    @return darken($color, 50%);
  }

  @else {
    @return lighten($color, 50%);
  }
}

// Background color and text
//
// Markup: Uses set-inverse-text-color to set both background and text.
// .class {
// @include background-color-with-text()
// }
//
// Styleguide Coloring.background-color-with-text

@mixin background-color-with-text($color) {
  background-color: $color;
  color: set-inverse-text-color($color);
}


// Material theme color
//
// Markup: Uses Material Design 3 theme tokens to set background and text color.
// .class {
//   @include mat-theme-color('--mat-sys-primary');
// }
//
// Styleguide Coloring.mat-theme-color

@mixin mat-theme-color($color-token) {
  background-color: var(#{$color-token});
  color: var(#{str-insert($color-token, '-on', str-index($color-token, '-sys-') + 4)});
}

