 @use 'src/styles/mixins' as *;

 ix-ng-select-error {
   color: var(--mat-sys-error);
   font-size: 0.75em;
   // top: -13px;
   position: relative;
   line-height: 0em;
   display: block;
   padding: 0 16px;
 }
