<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
    <p class="error-message">{{ data.message }}</p>
    @if (data.supportMessage) {
        <p class="support-message">{{ data.supportMessage }}</p>
    }
</div>
<div mat-dialog-actions>
    <div flex></div>
    <button
        matButton="outlined"
        class="close-button"
        (click)="close()">
        Close
    </button>
    <button
        matButton="filled"
        class="refresh-button"
        (click)="refresh()"
        cdkFocusInitial>
        Refresh page
    </button>
</div>
