<section class="home">
    <div class="section-header">
        <div class="section-title">Home</div>
        <div flex></div>
        <div class="section-view-controls">
            <!-- <button mat-stroked-button>Action Button</button> -->
        </div>
    </div>
    <div class="section-content">
        <img
            src="https://www.twilio.com/content/dam/twilio-com/global/en/blog/legacy/2022/introducing-developer-voices-intern-dainyl-cua/SSN74uLA3bS9tJDNb47va7KkJGdb_Mf6Uhgq061XXtdUApfLhqqkBKL0PQvIYsTLau7_aBeq8r4mdZ.gif" />
    </div>
</section>
