 @use 'src/styles/mixins' as *;

 main.app {
     min-height: calc(100dvh - #{$headerHeight} - (#{$headerPaddingTopBottom} * 0) - #{$mainNavHeight} - #{$footerHeight} - 0px);
     @include flex(column, stretch, stretch, nowrap);
     width: 100vw;
     min-width: 375px;
     background-color: var(--mat-sys-surface-container);
     color: var(--mat-sys-on-surface);

     @media only screen {
         @include mat-elevation(24, var(--mat-sys-shadow));
     }

     @media screen and (min-width: 1400px) {
         width: $appContainerWidth;
     }

     div.router-outlet {
         @include flex(row, flex-start, center, nowrap);
     }
 }
