@let navItem = item();
@if (type() === 'menuItem') {
    @if (navItem.type === 'route') {
        <a
            mat-menu-item
            [routerLink]="navItem.route"
            [queryParams]="navItem.queryParams"
            [queryParamsHandling]="navItem.queryParamsHandling"
            routerLinkActive="router-link-active"
            >{{ navItem.name }}</a
        >
    }
    @if (navItem.type === 'link') {
        <a
            mat-menu-item
            [href]="navItem.url"
            [target]="navItem.target ? navItem.target : '_blank'"
            >{{ navItem.name }}</a
        >
    }
}
@if (type() === 'button') {
    @if (navItem.type === 'route') {
        <a
            matButton
            [routerLink]="navItem.route"
            [queryParams]="navItem.queryParams"
            [queryParamsHandling]="navItem.queryParamsHandling"
            routerLinkActive="router-link-active"
            >{{ navItem.name }}</a
        >
    }
    @if (navItem.type === 'link') {
        <a
            matButton
            [href]="navItem.url"
            [target]="navItem.target ? navItem.target : '_blank'"
            >{{ navItem.name }}</a
        >
    }
}
