 @use 'src/styles/mixins' as *;

 // used for loading page only

 .loading {
   background-color: rgb(50, 50, 50);
   height: 100vh;
   width: 100vw;
   @include flex(row, center, center, nowrap);

   .logo {
     height: 50vh;
     width: 50vw;
     @include flex(row, center, center, nowrap);

     svg {
       .st0 {
         fill: $primary;
       }

       .st1 {
         fill: #ffffff;
       }

       height: 100%;
     }
   }
 }

 * {
   box-sizing: border-box;
 }


 html {
   top: 0 !important;
   padding: 0;
   margin: 0;
   height: 100vh;
   overflow: hidden;
 }

 body {
   height: 100%;
   padding: 0;
   margin: 0;
   width: 100vw;
   overflow-x: hidden;

   @media only print {
     overflow-x: unset;
     height: unset;
   }
 }

 body {
   font-family: Roboto, 'Helvetica Neue', sans-serif;
   background-size: 400% 400%;
   animation: AnimationName 15s ease infinite;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   @include flex(row, flex-start, center, nowrap);
 }

 body.light {
   background-color: $background;
   color: set-inverse-text-color($background);
 }

 body.dark {
   background-color: $backgroundDark1;
   color: set-inverse-text-color($backgroundDark1);
 }

 @include flex-directive;
 @include clickable-link($blue700);


 .desktop {
   @include media-lt-sm {
     display: none !important;
   }
 }

 .mobile {
   @include media-gt-sm {
     display: none !important;
   }
 }

 ix-scroll-button {
   z-index: 9999;

   @media only print {
     display: none;
   }
 }

 .no-print {
   @media only print {
     display: none !important;
   }
 }

 .dark .mdc-button,
 .light .mdc-button {
   letter-spacing: normal !important;
 }

 section {
   max-width: 100vw;
   margin-bottom: 8px;
   @include page-padding(16, 8);

   >section {
     @include page-padding(0, 0);
   }

   .section-header {
     @include desktop {
       @include flex(row, center, space-between, nowrap);
       gap: 8px;
     }

     @include mobile {
       @include flex(row, center, stretch, wrap);

       >div {
         margin-bottom: 8px;
       }

       >.section-controls-buttons {

         @include flex(row);

         @include media-xs {
           flex: 1 0 auto;
         }
       }
     }


     .section-title {
       font-size: 1.5em;
       font-weight: 600;
       margin-bottom: 16px;
     }

     .section-sub-title {
       font-size: .8em;
       font-weight: 200;
       margin-bottom: 16px;
     }

     .section-name {
       font-size: 1.2em;
       font-weight: 600;
       margin-top: 16px;
     }

     .section-view-controls {
       margin-right: 8px;

       @include flex(row, center, center, nowrap);
       gap: 8px;

       @include mobile {
         flex-wrap: wrap;
       }
     }
   }
 }